@model IEnumerable<BusinessLayerLibrary.Admin_GetAllCustomer_Result>
@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- DataTables -->
@section styles{
  <link href="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/Areas/Admin/Contents/AdminContent/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-sm-12">
                <div class="card box-shadow">
                    <h4 class="card-header"><!--Start_Modal-->
                        <button class="btn btn-sm float-sm-right btn-success  _click"><i class="mdi mdi-plus"></i> Create New </button>
                        <div class="modal fade" role="dialog" id="myModal" data-url='@Url.Action("AddCustomerPartial", "ManageCustomer")'></div>
                        <!--End_Modal-->
                        <i class="mdi mdi-account-clock-outline"></i> @ViewBag.TableHeaderName
                    </h4>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Customer Name</th>
                                    <th>Conact</th>
                                    <th>CNIC</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    <th>Details</th>
                                </tr>
                            </thead>

                            <tbody>
                            @{int increment = 0;
                                foreach (var item in Model)
                                {
                                    increment++;
                               <tr>
                                   <td>@increment</td>
                                   <td  @item.CustomerID>@item.CustomerName</td>
                                   <td>@item.CustomerConact</td>
                                   <td>@item.CustomerCNIC</td>
                                   <td>@item.CustomerAddress</td>
                                   <td>
                                   @if (@item.isActive)
                                   {
                                       <span class="badge  badge-round badge-primary">Active</span>
                                   }
                                   else
                                   {
                                       <span class="badge  badge-round badge-danger">Deactive</span>
                                   }
                                   </td>
                                   
                                   <td>
                                           <a href="@Url.Action("Edit", "Course", new { id =MyCode.Utilities.MyExtensions.EncryptURL(@item.CustomerID.ToString())})" class="btn btn-warning btn-sm mdi mdi-pencil" title="Update">
                                               <i class="fa fa-pencil-alt"></i>
                                           </a>
                                           <a class="btn btn-danger mdi mdi-close btn-sm" title="Delete" href="@Url.Action("ChangeStatus", "Course", new { id=@item.CustomerID.ToString()})">
                                           </a>
                                   </td>
                                   <td>Details</td>
                               </tr>
                                    }
                                    }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->


    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->





<!-- ./Panel Header-->


@section Scripts {

       <!-- Required datatable js -->
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/jszip/jszip.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/js/pages/datatables.init.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/js/bootbox.min.js"></script>


    <script type="text/javascript">
        
        $(document).ready(function () {

            // ******** Click "CreateNew" Button Then Open Modal ********
        $('._click').click(function () {
                debugger;
                var url = $('#myModal').data('url');
                $.get(url, function (data) {
                    $("#myModal").html(data);
                    $("#myModal").modal('show');

                });
        });
            // ********* Click "CreateNew" Button Then Modal Close ***********
        $('#btn-close').click(function () {
            $('#myModal').modal('hide');
        });
        });
       
    </script>
 
}















