@model  BusinessLayerLibrary.ViewModel.MainViewModels.ServicesNSubServicesNServicesPicture_ViewModels
    

@{
    ViewBag.Title = "AddEventOrder";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    BusinessLayerLibrary.ManagClass.MngCombo cbObj = new BusinessLayerLibrary.ManagClass.MngCombo();

}

@section styles{
<link href="~/Areas/Admin/Contents/AdminContent/assets/libs/select2/css/select2.min.css" rel="stylesheet" />
}
<div class="page-content">
    <div class="container-fluid row ">
        <div class="col-lg-12">
            @{
                if (TempData["Statusdetails"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @*<strong>Success!</strong>*@
                        @TempData["Statusdetails"]
                    </div>
                }
                else if (TempData["Statusdetailserror"] != null)
                {
                    <div class="alert alert-danger bg-danger text-white mb-0 border-0" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @TempData["Statusdetailserror"]
                    </div>
                }
            }

        </div>
        <form id="frmAddEventOrder">
            <div class="col-lg-12">
                <br />
                <div class="card">
                    <h4 class="card-header">
                        <i class="mdi mdi-account"></i>  Add New Event Order
                    </h4>
                    <div class="card-body">
                        <!-- your content-->

                        <div class="row">
                       
                          
                            <div class="col-md-4">
                                <div class="form-group">
                                    @{
                                        //Model.Customer_ID = Convert.ToInt32(TempData["tmpCustomerID"]);
                                    <label for="name">Recipt # @TempData["tmpCustomerID"])</label>
                                    }
                                    <input type="text" class="form-control"  readonly value="@TempData["tmpReciptNo"]"  Required>
                                   
                                    <span id="semail" class="text-danger font-weight-bold"></span>
                                </div>
                            </div>
                            <div class="col-md-4">               
                                <div class="form-group">
                                    <label for="name">Customer Name</label>
                                    <input type="text" class="form-control"  readonly value="@TempData["tmpCustomerName"]"  Required>
                                    <span id="semail" class="text-danger font-weight-bold"></span>
                                </div>
                            </div>


                            <!--Again-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    @{
                                        <label for="name">Select Hall</label>
                                        @Html.DropDownListFor(mdl => mdl.SubServiceID, new SelectList(cbObj.GetHallName(), "Value", "Text"), "Select Hall", new
                                     {  @*id = "CategoryID" ,*@  @class = "select2 form-control ",
                                         required = "required"
                                     })
                                        @Html.ValidationMessageFor(model => model.SubServiceID, "", new { @class = "text-warning" })
                                    }
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="contactnum">Event Type</label>
                                    @{
                                        @Html.DropDownListFor(mdl => mdl.EventType_ID, new SelectList(cbObj.GetEventType(), "Value", "Text"), "Select Event",  new { @class = "select2 form-control ",required = "required"})
                                        @Html.ValidationMessageFor(model => model.EventType_ID, "", new { @class = "text-warning" })
                                    }
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="MobileNum">Event Timing Type</label>
                                    <a href="#" class="pull-right" title="Refresh">
                                        <i class="fa fa-refresh" id="srchFoodMenu" aria-hidden="true"></i>
                                    </a>
                                    @Html.ValidationMessageFor(model => model.EventTimingTypeID, "", new { @class = "redLabel" })
                                    @Html.DropDownListFor(model => model.EventTimingTypeID, new SelectList(cbObj.GetEventTimingType(), "Value", "Text"), "--- Please Select ---", new { @class = "form-control select2" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EventDateTime, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.EventDateTime, "", new { @class = "redLabel" })
                                    @*@Html.EditorFor(model => model.BillDate, new { htmlAttributes = new { @class = "form-control", type = "date", value = Model.BillDate.ToString("dd/MM/yyyy") } })*@
                                    @Html.TextBoxFor(m => m.EventDateTime, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="MobileNum">Food Menu</label>
                                    @{
                                        @Html.DropDownListFor(mdl => mdl.PriceMenuID, new SelectList(cbObj.GetPriceMenu(), "Value", "Text"), "Select Menu", new { @class = "select2 form-control ", required = "required" })
                                        @Html.ValidationMessageFor(model => model.PriceMenuID, "", new { @class = "text-warning" })
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Address">Price</label>
                                    <input id="staticPrice" type="text" readonly class="form-control" name="ProductColor" value="@ViewBag.Price" placeholder="@ViewBag.Price" Required>
                                </div>
                            </div>
                        </div>
                        <br />

                        <!--./your content-->
                    </div>
                    <div class="card-footer text-sm-right">
                        <a title="Back" class="btn btn-primary mdi mdi-undo-variant" href="@Url.Action("IndexRegisteredBooks", "RegisterItems",new { Area="Library" })">
                            Back
                        </a>
                        <button title="Save"  id="_submit" type="submit" class="btn btn-success mdi mdi-content-save">
                            Save
                        </button>
                    </div>
                </div><!--./end card -->
            </div><!--./end col-12 -->
        </form>
    </div> <!--./end row -->
    <!-- end row -->
</div>

@section Scripts {

<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/select2/js/select2.min.js"></script>
<script type="text/javascript">

 $(document).ready(function () {


     $("#_submit").click(function () {

         var url = '@Url.Action("AddEventOrder", "ManageEventOrder")'
         var myformdata = $("#frmAddEventOrder").serialize();
         debugger
         $.ajax({
             type: "POST",
             url: url,
             data: myformdata,
             datatype: "text/plain",
             success: function (response) {
                 console.log(response);
                 $("#myModal").modal('hide');
                 window.location.href = "/Admin/ManageEventOrder/AddEventOrder";
             }
         });
     });




     //******PriceMenuID_change**********//
     $("#PriceMenuID").change(function () {
        
         var param = $('#PriceMenuID').val();
         var url = '@Url.Action("vComboPriceMenu", "ManageEventOrder")'

         $.ajax({
             type: "GET",
             url: url,
             data:  {PriceMenuID: $('#PriceMenuID').val()} ,
             datatype: "text/plain",
             success: function (result) { 
                 $("#staticPrice").val(result);
             },//success
             error: function (xhr, status) {
                 alert("error: " + xhr.responseText + " status: " + status);
             }, complete: function (xhr, status) {
                 console.log("complete " + xhr.responseText + " status: " + status);
             }
         });//ajax
     });//change







     //******ComboBox_Search**********//
     $("#srchFoodMenu").click(function () {
        LoadPublisher();
     });

     function LoadPublisher() {
         var $FoodMenu = $('#srchFoodMenu');
         $.ajax({
             url: '@Url.Action("vComboPriceMenuAjax", "ManageEventOrder")',
             type: 'Get'

         }).done(function (response) {
             $FoodMenu.html(response);
             $FoodMenu.select2("val", $FoodMenu.find("option:first").val()); //this will select first value in select 2
         });
     }





 });//ready
</script>

        }
