@model BusinessLayerLibrary.ViewModel.MainViewModels

@section styles{
    <link rel="stylesheet" href="~/ContentWebsite/css/calendar.css" type="text/css" />
    <!-- NonProfit Demo Specific Stylesheet -->
    <link rel="stylesheet" href="~/ContentWebsite/css/colors.php?color=C6C09C" type="text/css" /> <!-- Theme Color -->
    <link rel="stylesheet" href="~/ContentWebsite/demos/nonprofit/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="~/ContentWebsite/demos/nonprofit/nonprofit.css" type="text/css" />
}



<!--Menu-->
<div class="section" style="padding: 80px 0">
    <div class="container">
        <div class="heading-block border-bottom-0 mb-0">
            <div class="before-heading">Select your Menu</div>
            <h2 class="nott font-weight-semibold mb-0">Menu</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-12">
                <div id="price-carousel" class="owl-carousel carousel-widget" data-margin="30" data-nav="false" data-pagi="true" data-items-xs="1" data-items-sm="1" data-items-md="2" data-items-lg="3" data-items-xl="3">
                    @foreach (var a in Model.vmListClsPriceMenu)
                    { <div class="price-list shadow-sm card border-0 rounded">

                        <div class="position-relative">
                            <img src="@a.PriceMenuPicture" alt="Featured image 1" class="card-img-top rounded-top">
                            <div class="card-img-overlay dark d-flex justify-content-center flex-column p-0 center">
                                <h3 class="card-title mb-0 text-white">@a.PriceMenuTitle</h3>
                                <p class="card-text mb-0">Details</p>
                            </div>
                        </div>

                        <div class="card-body">

                            <div class="price-title pb-3">@a.Price<small>  Per Day</small></div>

                            <ul class="list-group list-group-flush mb-4">
                                @foreach (var aa in Model.vmListClsSubMenu)
                                {
                                    <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> @aa.SubMenuTitle</li>
                                }
                            </ul>

                            <a href="#" class="button button-rounded button-large btn-block m-0 center font-weight-medium">RS @a.Price /-</a>
                        </div>

                    </div>
                    }

                </div>
            </div>


            <div class="col-md-11 mt-5 offset-md-1">
                <h3>Terms &amp; Conditions</h3>
                <ul class="pl-4 mb-0">
                    <li class="mb-1">Hours indicated are access to the space NOT the WIFI or Internet Connection.</li>
                    <li class="mb-1">Payment is upfront. We accept Cash and VISA/Master Cards, 2% Credit Card surcharge applies.</li>
                    <li class="mb-1">Monthly Plan starts from the point of signup for 30 days.</li>
                    <li class="mb-1">Sorry NO Pausing Memberships and NO Cancellations.</li>
                    <li class="mb-1">Sorry NO Upgrading Plans you need to use the hours in the plan.</li>
                    <li class="mb-1">If you run out of hours you can buy additional hours at the rate above, through our website or front desk.</li>
                    <li class="mb-1">If you wish to change plan once you’re on a plan this is done only at the end of the month or once you use your hours.</li>
                    <li class="mb-1">Additional Printing is charged at &dollar;0.30 for Black and White A4 & A3 and &dollar;2 for Colour A4 & A3.</li>
                    <li class="mb-1">Skype Booths must be booked before 1 day &amp; the keys can be collected at the frontdesk. Additional Skype Booth usage will be charged at &dollar;5 per hour.</li>
                    <li class="mb-1">Storage Lockers are first come first serve and are subject to availability.</li>
                    <li class="mb-1">Additional Charge for Mail Delivery.</li>
                    <li class="mb-1">Pets are not allowed.</li>
                </ul>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <!-- JavaScripts
    ============================================= -->
    <script src="https://maps.google.com/maps/api/js?key=YOUR-API-KEY"></script>
    <!-- For Countdown -->
    <script src="~/ContentWebsite/js/components/moment.js"></script>
}

