@model IEnumerable < BusinessLayerLibrary.CustomModels.ClsMainModel.ClsSlider>

<section id="slider" class="slider-element swiper_wrapper min-vh-60 min-vh-md-100" style="margin-top:-6%">
        <div class="slider-inner">
            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                  @foreach (var item in Model)
                  {
                    <!--Video-->
                      if (item.isVideo == false)
                      {
                     <div class="swiper-slide dark">
                        <div class="container">
                            <div class="slider-caption slider-caption-center">
                                <h2 data-animate="fadeInUp">@item.SliderTitle</h2>
                                <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200"> @item.SliderDecription</p>
                            </div>
                        </div>
                         
                        <div class="video-wrap">
                            @{
                                string a = @item.SliderImagePath + ".mp4";
                                @item.SliderImagePath = a;
                            }
                            <video poster=@{@item.SliderImagePath} preload="auto" loop autoplay muted>
                                  <source src='@{@item.SliderImagePath}' type='video/mp4' />
                                @{
                                    string b = @item.SliderImagePath + ".webm";
                                    @item.SliderImagePath = b;
                                }
                                <source src='@{@item.SliderImagePath}' type='video/webm' />
                            </video>
                            <div class="video-overlay" style="background-color: rgba(0,0,0,0.33);"></div>
                        </div>
                    </div>
                    }
                    else
                    {
                      <!--Image-->
                      <div class="swiper-slide">
                          <div class="container">
                              <div class="slider-caption">
                                  <h2 data-animate="fadeInUp">@item.SliderTitle</h2>
                                  <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200"> @item.SliderDecription</p>
                              </div>
                          </div>
                          <div class="swiper-slide-bg" style="background-image: url('@item.SliderImagePath'); background-position: center top;"></div>
                      </div>
                    }
                  }
                </div>
                <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
                <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
                <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
            </div>
        </div>
    </section>


