@model BusinessLayerLibrary.ViewModel.MainViewModels
@{ 
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section PageTitle {
    <!-- Page Title
          ============================================= -->
    <section id="page-title" class="page-title-mini">

        <div class="container clearfix">
            <h1>@ViewBag.Title</h1>
            <span>Everything you need to know about our Company</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}


<!-- Content
    ============================================= --> 
<div class="section parallax mb-0 border-0 dark " style="height: 450px; padding: 120px 0; margin-top: -10%;">

    <div class="vertical-middle center" style="z-index: 2;">
        <div class="container clearfix fadeInUp animated" data-animate="fadeInUp">
            <div class="heading-block border-bottom-0 mb-0">
                <h2 style="font-size: 42px;">Beautiful HTML5 Videos</h2>
                <span class="d-none d-lg-block">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</span>
            </div>
            <a href="file:///D:/Application/Web/ASP.NET/MVC/Chontra_WebApplication/ExtraTempletes/NZ_Templete/services-3.html#" class="button button-border button-rounded button-white button-light button-large ml-0 mb-0" style="margin-top: 40px;">Show More</a>
        </div>
    </div>

    <div class="video-wrap" style="z-index: 1;">
        <video poster="/ContentWebsite/images/videos/explore-poster.jpg" preload="auto" loop="" autoplay="" muted="" style="width: 1349px; height: 758.812px; top: -154.406px;">
            <source src="~/ContentWebsite/images/videos/No/explore.mp4" type="video/mp4">

            <source src="/ContentWebsite/images/videos/explore.webm" type="video/webm">
        </video>
        <div class="video-overlay" style="background-color: rgba(0,0,0,0.1);"></div>
    </div>

</div>




<div class="section bg-transparent my-5">
    <div class="container">
  @{
      foreach (var item in Model.vmListClsPriceMenu)
      {
         <div class="row align-items-center flex-md-row-reverse col-mb-50 mb-0">
             <div class="col-lg-6">
                 <img class="box-img shadow-left"  src="@item.PriceMenuPicture" alt="Image">
             </div>
             <div class="col-lg-6 pr-0 pr-md-5">
               <h3 class="text-dark h1 font-weight-semibold ls0 mb-4">@item.PriceMenuTitle</h3>
               <h3 class="title-pricing mb-5">@item.Price <span>Incl. of taxes</span></h3>
               <div class="row">
                   @foreach (var item2 in Model.vmListClsSubMenu)
                   {
                       if (@item2.SubMenuID % 2 == 0)
                       {
                           <div class="col-6">
                               <ul class="list-group list-group-flush">
                                   <li class="list-group-item ">@item2.SubMenuTitle</li>
                               </ul>
                           </div>
                       }
                       else
                       {
                           <div class="col-6">
                               <ul class="list-group list-group-flush">
                                   <li class="list-group-item ">@item2.SubMenuTitle</li>
                               </ul>
                           </div>
                       }
                   }
               </div>
             </div>
         </div>
      }
   }
         <div class="clear"></div>
      
           <div class="row align-items-center topmargin-lg col-mb-50 mb-lg-5">
            <div class="col-lg-6">
                <img class="box-img" src="~/ContentWebsite/demos/hostel/images/box-img/2.jpg" alt="Image">
            </div>
            <div class="col-lg-6 pl-md-5 mb-5 mb-md-0">
                <h5 class="color font-weight-normal mb-2"><i class="icon-line2-pointer"></i> Denmark</h5>
                <h3 class="text-dark h1 font-weight-semibold ls0 mb-4">Canvas Delux Bed</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius explicabo, optio repellat dolorum, nulla provident tenetur.</p>

                <h3 class="title-pricing mb-5">$45.99 <span>per week</span></h3>

                <div class="row">
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item pl-0"><i class="icon-line2-feed mr-2"></i>WiFi Availbale</li>
                            <li class="list-group-item pl-0"><i class="icon-line2-cup mr-2"></i>Breakfast Included</li>
                            <li class="list-group-item pl-0"><i class="icon-line2-clock mr-2"></i>24x7 access</li>
                        </ul>
                    </div>

                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item pl-0"><i class="icon-line2-lock mr-2"></i>Lockers Available</li>
                            <li class="list-group-item pl-0"><i class="icon-line2-social-dropbox mr-2"></i>Laundry Available</li>
                            <li class="list-group-item pl-0"><i class="icon-line2-game-controller mr-2"></i>Other Aminities</li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="button bg-color nott ls0 mt-4 mx-0">View More Details</a>
            </div>
        </div>
       
    </div>
</div>

 


 



