
@model MyCode.DAL.ClsDALRoles
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="page-content">
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card box-shadow">
                        <h4 class="card-header">
                            <i class="mdi mdi-account-clock-outline"></i> Create New Role
                        </h4>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="RoleName" class="col-form-label">Role Name</label>
                                    @Html.HiddenFor(model => model.RoleID)
                                    @Html.TextBoxFor(model => model.RoleName, "", new { @class = "form-control", @Id = "RoleName" })
                                    @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = " text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <a title="Back" class="btn btn-primary mdi mdi-undo-variant" href="@Url.Action("RoleIndex", "Roles")">
                                Back
                            </a>
                            <button title="Save" type="submit" class="btn btn-success mdi mdi-content-save">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card box-shadow">
                        <h4 class="card-header">
                            <i class="mdi mdi-settings"></i> Assign Role
                        </h4>
                        <div class="card-body">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="card mb-1" id="ulMenus">
                                    <div class="row">
                                        @{ int i = -1;
                                            double Count = double.Parse(Model.RoleWebPages.Count.ToString()) / 2.0;
                                            int CountCelling = int.Parse(Math.Ceiling(Count).ToString());
                                            <div class="col-md-6 mb-3">
                                                @foreach (MyCode.DAL.ClsRoleWebPages Parent in Model.RoleWebPages.Take(CountCelling))
                                                {


                                                    <div class="card-header p-3 assign-role H-@Parent.WebPageID mb-2" id="headingOne" role="tab">
                                                        @if (Parent.IsChecked)
                                                        {
                                                            <input type="checkbox" id="@Parent.WebPageID" name="@Parent.WebPageID" class="chkbox" checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" id="@Parent.WebPageID" name="@Parent.WebPageID" class="chkbox" />

                                                        }
                                                        <a href="#p-@Parent.WebPageID" class="text-dark" data-toggle="collapse"
                                                           aria-expanded="true"
                                                           aria-controls="collapseOne">
                                                            <h6 class="m-0 font-14 text-white">
                                                                @Parent.PageTitle <i class="mdi mdi-chevron-down float-right"></i>
                                                            </h6>
                                                        </a>
                                                    </div>
                                                    <div id="p-@Parent.WebPageID" role="tabpanel" class="collapse"
                                                         aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="card-body role-body child-@Parent.WebPageID">
                                                            <table class="table table-borderless table-striped">
                                                                <tr>
                                                                    <td><b>Page Title</b></td>
                                                                    <td class="text-center"><b>Add</b></td>
                                                                    <td class="text-center"><b>Edit</b></td>
                                                                    <td class="text-center"><b>Del</b></td>
                                                                </tr>
                                                                @foreach (MyCode.DAL.ClsRoleWebPages ch in Parent.Childs)
                                                                {
                                                                    i += 1;

                                                                    <tr>
                                                                        <td class="i-@ch.WebPageID" valign="middle">
                                                                            <label>
                                                                                @if (ch.IsChecked)
                                                                                {
                                                                                    <input type="checkbox" class="chkPage p-@Parent.WebPageID" id="i-@ch.WebPageID" checked="checked" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="checkbox" class="chkPage p-@Parent.WebPageID" id="i-@ch.WebPageID" />

                                                                                }
                                                                                <span>@ch.PageTitle</span>
                                                                            </label>
                                                                            <input type="hidden" class="IsChecked i-@ch.WebPageID" name="RoleWebPages[@i].IsChecked" value="@ch.IsChecked" />
                                                                            <input type="hidden" name="RoleWebPages[@i].WebPageID" value="@ch.WebPageID" />
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @if (ch.HasInsert)
                                                                            {
                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" checked="checked" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasInsert" value="true" />
                                                                            }
                                                                            else
                                                                            {

                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasInsert" value="false" />
                                                                            }
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @if (ch.HasUpdate)
                                                                            {


                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" checked="checked" />
                                                                                    <span></span>
                                                                                </label>

                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasUpdate" value="true" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasUpdate" value="false" />
                                                                            }
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @if (ch.HasDelete)
                                                                            {
                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" checked="checked" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasDelete" value="true" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasDelete" value="false" />
                                                                            }
                                                                        </td>
                                                                    </tr>

                                                                }
                                                            </table>
                                                        </div>
                                                    </div>

                                                }
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                @foreach (MyCode.DAL.ClsRoleWebPages Parent in Model.RoleWebPages.Skip(CountCelling))
                                                {


                                                    <div class="card-header p-3 assign-role H-@Parent.WebPageID mb-2" id="headingOne" role="tab">
                                                        @if (Parent.IsChecked)
                                                        {
                                                            <input type="checkbox" id="@Parent.WebPageID" name="@Parent.WebPageID" class="chkbox" checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" id="@Parent.WebPageID" name="@Parent.WebPageID" class="chkbox" />

                                                        }
                                                        <a href="#p-@Parent.WebPageID" class="text-dark" data-toggle="collapse"
                                                           aria-expanded="true"
                                                           aria-controls="collapseOne">
                                                            <h6 class="m-0 font-14 text-white">
                                                                @Parent.PageTitle <i class="mdi mdi-chevron-down float-right"></i>
                                                            </h6>
                                                        </a>
                                                    </div>
                                                    <div id="p-@Parent.WebPageID" role="tabpanel" class="collapse"
                                                         aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="card-body role-body child-@Parent.WebPageID">
                                                            <table class="table table-borderless table-striped">
                                                                <tr>
                                                                    <td><b>Page Title</b></td>
                                                                    <td class="text-center"><b>Add</b></td>
                                                                    <td class="text-center"><b>Edit</b></td>
                                                                    <td class="text-center"><b>Del</b></td>
                                                                </tr>
                                                                @foreach (MyCode.DAL.ClsRoleWebPages ch in Parent.Childs)
                                                                {
                                                                    i += 1;

                                                                    <tr>
                                                                        <td class="i-@ch.WebPageID" valign="middle">
                                                                            <label>
                                                                                @if (ch.IsChecked)
                                                                                {
                                                                                    <input type="checkbox" class="chkPage p-@Parent.WebPageID" id="i-@ch.WebPageID" checked="checked" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="checkbox" class="chkPage p-@Parent.WebPageID" id="i-@ch.WebPageID" />

                                                                                }
                                                                                <span>@ch.PageTitle</span>
                                                                            </label>
                                                                            <input type="hidden" class="IsChecked i-@ch.WebPageID" name="RoleWebPages[@i].IsChecked" value="@ch.IsChecked" />
                                                                            <input type="hidden" name="RoleWebPages[@i].WebPageID" value="@ch.WebPageID" />
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @if (ch.HasInsert)
                                                                            {
                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" checked="checked" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasInsert" value="true" />
                                                                            }
                                                                            else
                                                                            {

                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasInsert" value="false" />
                                                                            }
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @if (ch.HasUpdate)
                                                                            {


                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" checked="checked" />
                                                                                    <span></span>
                                                                                </label>

                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasUpdate" value="true" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasUpdate" value="false" />
                                                                            }
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @if (ch.HasDelete)
                                                                            {
                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" checked="checked" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasDelete" value="true" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <label>
                                                                                    <input type="checkbox" class="chkp i-@ch.WebPageID" />
                                                                                    <span></span>
                                                                                </label>
                                                                                <input type="hidden" class="chkOp i-@ch.WebPageID" name="RoleWebPages[@i].HasDelete" value="false" />
                                                                            }
                                                                        </td>
                                                                    </tr>

                                                                }
                                                            </table>
                                                        </div>
                                                    </div>

                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                            }
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#1').addClass('active open');
            $('#1 div.collapsible-body').attr('style', 'display: block;');
            $('#2').addClass('active');
            $('#2 a').addClass('active');


            $('input[type="checkbox"]').click(function (e) {
                var $this = $(this),
                    $thisClass = $this.attr('class'),
                    $thisVal = $this.is(':checked'),
                    $thisID = $this.attr('id');

                if ($thisClass == "chkbox") {

                    $('div.child-' + $thisID).find('input[type="checkbox"]')
                        .attr('checked', 'checked')
                        .prop('checked', $thisVal);

                    $('div.child-' + $thisID).find('input.chkOp').attr('value', $thisVal);

                    $('div.child-' + $thisID).find('input.IsChecked').attr('value', $thisVal);

                } else if ($this.hasClass("chkPage")) {
                    $('input[type="checkbox"].' + $thisID).attr('checked', 'checked').prop('checked', $thisVal);
                    $('input[type="hidden"].' + $thisID).attr('value', $thisVal);
                    var $arr = $thisClass.toString().split(' ');
                    // chkPage id >>> 2 classes

                    $thisClass = $arr[1];
                    if ($thisVal) {
                        $('.' + $arr[1]).find('input.chkbox').attr('checked', 'checked').prop('checked', $thisVal);
                        $('.' + $arr[1].replace('p', 'H')).find('input.chkbox').attr('checked', 'checked').prop('checked', $thisVal);

                    } else {

                        //var selectedSiblings = $('.' + $arr[1]).find('input.chkPage:checked').length;
                        var selectedSiblings = ($('input.' + $arr[1] + ':checked').length);

                        if (selectedSiblings == 0) {
                            $('.' + $arr[1]).find('input.chkbox').removeAttr('checked').prop('checked', $thisVal);
                            $('.' + $arr[1].replace('p', 'H')).find('input.chkbox').attr('checked', 'checked').prop('checked', $thisVal);

                        }
                    }
                } else if ($this.hasClass("chkp")) {
                    var $arr = $thisClass.toString().split(' ');
                    $thisClass = 'chkp.' + $arr[1];
                    var selectedSiblings = ($('input.' + $thisClass + ':checked').length);
                    if ($thisVal && selectedSiblings == 1) {
                        $('td.' + $arr[1]).find('input.chkPage').attr('checked', 'checked').prop('checked', $thisVal);
                        $('td.' + $arr[1]).find('input.IsChecked').attr('value', $thisVal);
                        $this.closest('td').find('input.chkbox').attr('checked', 'checked').prop('checked', $thisVal);
                    } else if (!$thisVal && selectedSiblings == 0) {
                        $this.parents('td').siblings().find('input.chkPage').attr('checked', 'checked').prop('checked', $thisVal);
                        $this.parents('td').siblings().find('input.IsChecked').attr('value', $thisVal);
                        if ($this.find('input.chkPage:checked').length == 0)
                            $this.find('input.chkbox').attr('checked', 'checked').prop('checked', $thisVal);
                    }
                }
            });

        });
        function toggleChevron(e) {
          $(e.target)
            .prev('.card-header')
            .find("i.mdi")
            .toggleClass('mdi-chevron-down mdi-chevron-up');
        }

        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);
    </script>
}
